
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sofia Sans;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    display: flex;
    gap: 1.5rem;
align-items: center;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    margin-top: 1.3rem;
    
     margin-bottom: 25px;

}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px;
    font-weight: .8rem;
}

button {
    padding: 14px 30px;
    color: orange;
    border: none;
    background: rgb(47, 48, 52);
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style-type: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

ul li:hover {
    color: rgb(143, 13, 13);
}

ul li::before{
    content: "\f111";
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
}

.checked::before {
content: "\f058";
font-weight: 900;
color: #4caf50;
}

.checked {
    text-decoration: line-through;
}

ul li span {
    position: absolute;
    right: 5px;
    top: 8px;
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#edit-btn {
    
    margin-right: 3.5rem;
}

#filters {
    
    display: flex;
    gap: 0.5rem; 
}

#filters button {
    padding: 0px 15px;
    background: transparent;
    border: 1px solid;
}

 
#filters button:hover {
    background: rgb(47, 48, 52);
    transition: 0.2s ease-in-out;
}

.active-filter {
    background: rgb(47, 48, 52) !important;
}

.todo-filter-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}